/* Add some css styles based on the tutorial at javascript.info: introduction to browser events
 https://javascript.info/introduction-browser-events */
 html {
  padding: 10px;
  font-size: 10px;
  background: rgb(102, 80, 102);
  }

.container {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -235px;
}

.carousel {
  position: relative;
  width: 398px;
  padding: 10px 40px;
}

.carousel img {
  width: 130px;
  height: 130px;
  display: block;
}

.button {
  background: teal;
  border: 0;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  font-weight: bold;
  height: 3rem;
  opacity: 0.25;
  position:absolute;
  transition: opacity 0.25s;
  top: 60px;   
      
}

.back {
  left: 7px;
}

.next {
  right: 7px;
}

.gallery {
  width: 380px;
  overflow: hidden;
}

.gallery ul {
  width: 1000px;
  padding: 0;
  transition: margin-left 250ms;
  font-size: 0px;
}

.gallery li {
  display: inline-block;
}